# This is a basic workflow to help you get started with Actions

# This workflow will perform a build of the plugin and run any tests

name: Check IntelliJ-Automation-Plugin

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]
  # Allows to run from the Actions tab
  workflow_dispatch:

jobs:
  build-and-test:
    uses: centic9/actions/.github/workflows/gradle-build.yml@7
